{% extends "base.html" %}
{% load i18n %}

{% block title %}
    Bikesurf {{ current_team.name }} - {% trans "ADD_PAGE" %}
{% endblock %}

{% block content_center %}
    <div class="content_block">
        <h2>{% trans "ADD_PAGE" %}</h2>
        <form   name="CreateBlogForm"
                action="/{{ current_team.link }}/page/create"
                method="post">

            {% csrf_token %}
            <table class="input_form">
                {{ form.as_table }}
            </table>
            <input type="submit" value="{% trans "SUBMIT" %}" />

        </form>
    </div>
{% endblock %}


