{% extends "base.html" %}
{% load i18n %}


{% block area_left %}

    <div id="team_menu"> 
        <a href="/{{ current_team.link }}"><h2>{{ current_team.name }} ({{ current_team.country.name }})</h2></a>
        <ul>
            {% for entry_url, entry_name, entry_selected in team_menu %}
                <li>
                    {% if entry_selected %}
                        <a id="selected" href="{{ entry_url }}">{{ entry_name }}</a>
                    {% else %}
                        <a href="{{ entry_url }}">{{ entry_name }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block area_center %}
    Team Content
{% endblock %}

