{% extends "base.html" %}
{% load i18n %}
{% load common_tags %}


{% block content_left %}

    <div id="team_menu"> 
        <a href="/{{ current_team.link }}"><h2>{{ current_team.name }} - {{ current_team.country.name }}</h2></a>
        <ul>
            {% for entry_url, entry_name, entry_selected, only_members in team_menu %}
                {% if not only_members or current_account|is_member:current_team %}
                    <li>
                        {% if entry_selected %}
                            <a id="selected" href="{{ entry_url }}">{{ entry_name }}</a>
                        {% else %}
                            <a href="{{ entry_url }}">{{ entry_name }}</a>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block content_center %}
    Team Content
{% endblock %}

{% block content_right %}

    <div id="team_info" class="content_block"> 
        <h2>TODO team info</h2> 
        {% trans "TWITTER" %}: TODO <br />
        {% trans "FACEBOOK" %}: TODO <br />
        {% trans "COUCHSURFING" %}: TODO <br />
    </div>

{% endblock %}
