
<html>

    <head>

        <title> bikesurf.org </title>

        <link type="image/x-icon" rel="icon" href="/static/favicon.ico">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="Copyright" content="Fabian Barkhau 2012" />
        <meta name="keywords" content="Bike, Surfing, Borrowing, Lending" />

        <style type="text/css">
            body {
                background: url("/static/construction.png") center top #000000;
                color: #FFFFFF;
                font: 12px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
                min-height: 100%;
                position: relative;
                margin: 0;
                padding: 0;
            }
        </style>

    </head>

    <body>
    </body>
</html>


