{% extends "base.html" %}
{% load i18n %}

{% block title %}
    Bikesurf | Wellcome
{% endblock %}

{% block content %}

    <div id="index_body">

        {% if not current_user.is_authenticated %}
            <p> <!-- TODO i18n -->
                Borrow a bike without extortionate rental fees!</br> Two legs good. Free wheels better. 
            </p>
        {% endif %}

        <form name="TeamSelectForm" action="/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="{% trans "SELECT" %}" />
        </form>

        {% if current_user.is_authenticated %}
            <a href="/t/create">{% trans "CREATE_TEAM" %}</a>
        {% endif %}

    </div>

{% endblock %}

