{% extends "base.html" %}
{% load i18n %}

{% block title %}
    Bikesurf | Wellcome
{% endblock %}

{% block body %}


    <div id="index_body">

        <p> <!-- TODO i18n -->
            Borrow a bike without extortionate rental fees!</br> Two legs good. Free wheels better. 
        </p>

        <form name="TeamSelectForm" action="/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="{% trans "SELECT" %}" />
        </form>

    </div>

{% endblock %}

