{% extends "site/base.html" %}
{% load i18n %}
{% load common_tags %}

{% block content %}

    <h1>{% trans "DONATE" %}</h1>

    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=WZPFJTYN5NMU8">
      <img src="https://3.bp.blogspot.com/-yaSrx3YebBw/WBadPASdPvI/AAAAAAAAIOM/z2LYn_xhTP4jpFRr4q7GsrYmxa7Zne-EACLcB/s640/2652337_paypal3_jpegc1dafcf6a9ff3d397e4f3f27f55a2692.jpg" height="120" width="260">
    </a>

    <h1 id="international_transfer"> International Transfer </h1>
    
    <p>
      Graham Pope</br>
      Allied Irish banks ltd.</br>
      69/71 Morehampton road</br>
      Dublin 4</br>
      IBAN : IE50AIBK93103908562044</br>
      Swift code: AIBKIE2D 
    </p>
    
    
    <h1 id="bitcoin"> Bitcoin </h1>
    
    <p>
      <img src="/static/common/bitcoin_donate.png"></br>
      <img src="/static/common/bitcoin_qrcode.png"></br>
      Bitcoin Address: <a href="https://blockchain.info/address/1LxGcVVcDCRSzNBoT5SDcjxNr1sAvfNSXi">1LxGcVVcDCRSzNBoT5SDcjxNr1sAvfNSXi</a>
    </p>

{% endblock %}

