{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div id="logo">
        <a href="/"><img src="/static/logo.png" alt="BikeSurf"></a>
    </div>

    <div id="index_body">

        {% if not current_user.is_authenticated %}
            <p>{% trans "INDEX_SUBTITLE" %}</p>
        {% endif %}

        <form name="TeamSelectForm" action="/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="{% trans "SELECT" %}" />
        </form>

        {% if current_user.is_authenticated %}
            <a href="/team/create">{% trans "CREATE_TEAM" %}</a>
        {% endif %}

    </div>

{% endblock %}

