{% extends "common/base.html" %}
{% load i18n %}
{% load common_tags %}

{% block styles %}
    <link rel="stylesheet" href="/static/site/index.css" type="text/css" charset="utf-8" >
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <div id="index_content">
        <div id="index_logo"> 
            <a href="/">
                <img src="/static/site/logo.png" alt="BikeSurf">
            </a>
        </div>
        <div id="index_slogan">
            {% trans "TWO_LEGS_GOOD_FREE_WHEELS_BETTER" %}
        </div>
        <div>
            <table id="index_table">
                <tr>
                    <td id="index_table_left">
                        <div class="content_title">{% trans "WHAT_WERE_ABOUT" %}</div>
                        <div class="content">
                            {% trans "SITE_DESCRIPTION_TEXT" %}
                        </div>
                    </td>
                    <td id="index_table_right">
                        <div class="content_title">
                            {% trans "BORROW_A_BIKE" %}
                        </div>
                        <div class="content">
                            <form name="TeamSelectForm" action="/" method="post">
                                {% csrf_token %}
                                {{ form.team }}
                                <input type="submit" value="{% trans "SELECT" %}" />
                            </form>
                        </div>
                        <div class="content_title">
                            {% trans "START_A_TEAM" %}
                        </div>
                        <div class="content">
                            {% trans "TEAM_DESCRIPTION_TEXT" %}
                            <div class="actions">
                                {% draw_create "CREATE_TEAM" "/team/create" %}
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
