{% load i18n %}
{% load common_tags %}

<div class="text_center">

    <h3><a href="/site/donate.html">Donate</a></h3>

    <p>
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=WZPFJTYN5NMU8">
            <img src="https://3.bp.blogspot.com/-yaSrx3YebBw/WBadPASdPvI/AAAAAAAAIOM/z2LYn_xhTP4jpFRr4q7GsrYmxa7Zne-EACLcB/s640/2652337_paypal3_jpegc1dafcf6a9ff3d397e4f3f27f55a2692.jpg" height="60" width="130">
        </a>
    </p>

    <p>
        <a href="https://blockchain.info/address/1LxGcVVcDCRSzNBoT5SDcjxNr1sAvfNSXi">
            <img src="/static/common/bitcoin_donate.png">
            <img src="/static/common/bitcoin_qrcode.png">
        </a>
    </p>

</div>

