{% extends "common/base.html" %}
{% load i18n %}
{% load common_tags %}

{% block content %}
    <div class="content">
        {% for station in stations %}
            {% if current_team %}
                <a href="/{{ current_team.link }}/station/view/{{ station.id }}">
            {% else %}
                <a href="/station/view/{{ station.id }}">
            {% endif %}
                {{ station }}
            </a></br>
        {% empty %}
            {% trans "NO_STATIONS" %}
        {% endfor %}
    </div>
{% endblock %}

