{% extends "common/base.html" %}
{% load i18n %}
{% load common_tags %}

{% block content %}
    <div class="content_title"> 
        {{ station.postalcode }} 
        {{ station.city }} -
        {{ station.street }} 
    </div>
    <div class="content">

        {% trans "POSTALCODE" %}: {{ station.postalcode }} <br />
        {% trans "CITY" %}: {{ station.city }} <br />
        {% trans "STREET" %}: {{ station.street }} <br />
        {% trans "RESPONSABLE" %}: {{ station.responsable }} <br />
        {% trans "ACTIVE" %}: {% draw_bool station.active %} <br />

        <div class="actions">
            {% draw_edit "/" station.team.link "/station/edit/" station.id %}
            {% draw_delete "/" station.team.link "/station/delete/" station.id %}
        </div>
    </div>
{% endblock %}

