{% extends "common/base.html" %}
{% load i18n %}
{% load common_tags %}
{% load gallery_tags %}

{% block styles %}
    <link rel="stylesheet" href="/static/gallery/list.css"
             type="text/css" charset="utf-8">
{% endblock %}

{% block content %}
    <div class="content">

        <table id="gallery_list_table">

            {% for picture in pictures %}

                {% cycle '<tr>' '' %}

                <td>
                    <div>
                        {% if current_team %}
                            <a href="/{{ current_team.link }}/gallery/view/{{ picture.id }}">
                                <img src="{{ picture.preview.url }}">
                            </a>
                        {% else %}
                            <a href="/gallery/view/{{ picture.id }}">
                                <img src="{{ picture.preview.url }}">
                            </a>
                        {% endif %}
                    </div>

                    {% if_can_edit_gallery current_account gallery %}
                        {% if current_team %}
                            {% if picture != gallery.primary %} 
                                {% draw_action "/static/famfamfam/pencil.png" "SET_AS_PRIMARY_PICTURE" "/" current_team.link "/gallery/setprimary/" picture.id %}
                            {% endif %}
                            {% draw_delete "/" current_team.link "/gallery/remove/" picture.id %}
                        {% else %}
                            {% if picture != gallery.primary %} 
                                {% draw_action "/static/famfamfam/pencil.png" "SET_AS_PRIMARY_PICTURE" "/gallery/setprimary/" picture.id %}
                            {% endif %}
                            {% draw_delete "/gallery/remove/" picture.id %}
                        {% endif %}
                    {% endif_can_edit_gallery %}
                </td>

                {% cycle '' '</tr>' %}

            {% empty %}
                {% trans "NO_PICTURES" %}
            {% endfor %}
        </table>

        <div>
            {% if_can_edit_gallery current_account gallery %}
                {% if current_team %}
                    {% draw_create "ADD_PICTURE" "/" current_team.link "/gallery/add/" gallery.id %}
                {% else %}
                    {% draw_create "ADD_PICTURE" "/gallery/add/" gallery.id %}
                {% endif %}
            {% endif_can_edit_gallery %}
        </div>

    </div>
{% endblock %}

