{% extends "site/base.html" %}
{% load i18n %}
{% load common_tags %}
{% load gallery_tags %}

{% block content %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-8">
            <b>{% trans "GALLERY" %}</b>
          </div>
          <div class="col-sm-4 text_right">
            {% if_can_edit_gallery current_account gallery %}
              {% if current_team %}
                {% draw_create "ADD_PICTURE" "/" current_team.link "/gallery/add/" gallery.id %}
              {% else %}
                {% draw_create "ADD_PICTURE" "/gallery/add/" gallery.id %}
              {% endif %}
            {% endif_can_edit_gallery %}
          </div>
        </div>
      </div>
      <div class="panel-body">
        {% for picture in pictures %}

          <div class="col-sm-6 text_center">
            <p>
              {% if current_team %}
                <a href="/{{ current_team.link }}/gallery/view/{{ picture.id }}">
                  <img src="{{ picture.preview.url }}">
                </a>
              {% else %}
                <a href="/gallery/view/{{ picture.id }}">
                  <img src="{{ picture.preview.url }}">
                </a>
              {% endif %}
            </p>
            <p>
              {% if_can_edit_gallery current_account gallery %}
                {% if current_team %}
                  {% if picture != gallery.primary %} 
                    {% draw_action "/static/famfamfam/pencil.png" "SET_AS_PRIMARY_PICTURE" "/" current_team.link "/gallery/setprimary/" picture.id %}
                  {% endif %}
                  {% draw_delete "/" current_team.link "/gallery/remove/" picture.id %}
                {% else %}
                  {% if picture != gallery.primary %} 
                    {% draw_action "/static/famfamfam/pencil.png" "SET_AS_PRIMARY_PICTURE" "/gallery/setprimary/" picture.id %}
                  {% endif %}
                  {% draw_delete "/gallery/remove/" picture.id %}
                {% endif %}
              {% endif_can_edit_gallery %}
            </p>
          </div>

        {% empty %}
          {% trans "NO_PICTURES" %}
        {% endfor %}
      </div>
    </div>
{% endblock %}

