{% extends "common/base.html" %}
{% load i18n %}
{% load common_tags %}
{% load borrow_tags %}
{% load team_tags %}

{% block styles %}
    <link   rel="stylesheet" href="/static/bike/style.css"
            type="text/css" charset="utf-8">
{% endblock %}

{% block content %}
        <table id="bike_list_layout_table">
        {% for bike in bikes %}

            {% cycle '<tr>' '' %}

            <td>
                <div id="bike_list_entrie" class="content">
                    {% if current_team %}
                        <a href="/{{ current_team.link }}/bike/view/{{ bike.id }}">
                    {% else %}
                        <a href="/bike/view/{{ bike.id }}">
                    {% endif %} 
                        <table>
                            <tr>
                                <td class="td_bike_image">
                                    {% if bike.gallery.primary %}
                                        <img src="{{ bike.gallery.primary.thumbnail.url }}">
                                    {% else %}
                                        TODO show default empty bike image
                                    {% endif %}

                                </td>
                                <td class="td_bike_props">
                                    {% trans "NAME" %}: {{ bike.name }} <br />
                                    {% trans "SIZE" %}: {% trans bike.size %}<br />
                                    {% trans "LIGHTS" %}: {% draw_bool bike.lights %} <br />
                                    {% if current_account|is_member:bike.team %}
                                        {% trans "STATION" %}: 
                                        {% if bike.station %}
                                            {{ bike.station.street }}<br />
                                        {% else %}
                                            {% trans "UNKNOWN" %}<br />
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </a>
                </div>
            </td>

            {% cycle '' '</tr>' %} <!-- TODO what when uneven count? -->
        {% empty %}
            <div class="content">
                {% trans "NO_BIKES" %}
            </div>
        {% endfor %}
    </table>
{% endblock %}

