{% extends "common/base.html" %}
{% load i18n %}
{% load common_tags %}
{% load borrow_tags %}
{% load team_tags %}

{% block styles %}
    <link   rel="stylesheet" href="/static/bike/style.css"
            type="text/css" charset="utf-8">
{% endblock %}

{% block content %}

    <div class="content_title"> {{ bike.name }} </div>
    <div class="content">

        <table>
            <tr>
                <td id="td_bike_image">
                    {% if current_team %}
                        <a href="/{{ current_team.link }}/gallery/list/{{ bike.gallery.id }}">
                    {% else %}
                        <a href="/gallery/list/{{ bike.gallery.id }}">
                    {% endif %} 
                        <img src="{{ bike.gallery.primary.preview.url }}">
                    </a>
                </td>
                <td id="td_bike_info">
                    {% trans "SIZE" %}: {% trans bike.size %}<br />
                    {% trans "LIGHTS" %}: {% draw_bool bike.lights %} <br />
                    {% trans "ACTIVE" %}: {% draw_bool bike.active %} <br />
                    {% trans "RESERVE" %}: {% draw_bool bike.reserve %} <br />
                    {% if_member current_account bike.team %}
                        {% trans "LOCKCODE" %}: {{ bike.lockcode }}<br />
                        {% trans "STATION" %}: 
                        {% if bike.station %}
                            {{ bike.station.street }}<br />
                        {% else %}
                            {% trans "UNKNOWN" %}<br />
                        {% endif %}
                    {% endif_member %}
                    <h4> {% trans "DESCRIPTION" %} </h4>
                    <p> {{ bike.description }} </p>
                </td>
            </tr>
        </table>

        <div class="actions">
            {% borrow_draw bike %}
            {% if_member current_account bike.team %}
                {% draw_edit "/" bike.team.link "/bike/edit/" bike.id %}
                {% draw_delete "/" bike.team.link "/bike/delete/" bike.id %}
            {% endif_member %}
        </div>

    </div>
{% endblock %}

