{% extends "common/base.html" %}
{% load i18n %}
{% load common_tags %}
{% load link_tags %}

{% block content %}
    <div class="content_title">
        {{ current_account }}
    </div>
    <div class="content">
        <p> {% trans "USER_PRIVECY_INFORMATION" %} </p>

        <p>
            {% trans "FIRST_NAME" %}: {{ current_account.user.first_name }} </br>
            {% trans "LIST_NAME" %}: {{ current_account.user.last_name }} </br>
            {% trans "MOBILE" %}: {{ current_account.mobile }} </br>

            {% trans "EMAIL" %}: {{ primary_email }}
            <a href="/accounts/email/">
                <img alt="{% trans "CHANGE_EMAIL" %}" src="/static/famfamfam/pencil.png">
            </a>
            </br>

            {% if current_account.passport %}
                {% trans "PASSPORT" %}: 
                <a href="{{ current_account.passport.url }}">
                    {% trans "IMAGE" %}
                </a>
            {% else %}
                {% trans "PASSPORT" %}: {% trans "NONE" %}
            {% endif %}
            <a href="/account/set_passport">
                <img alt="{% trans "SET_PASSPORT" %}" src="/static/famfamfam/pencil.png">
            </a>
            </br>

            {% trans "SOURCE" %}: {% trans current_account.source %} </br>
            {% trans "DESCRIPTION" %}: {{ current_account.description }} </br>
        </p>


        {% if links %}
            <h3> {% trans "LINKS" %} </h3>
            <p>
                {% for link in links %}
                    {% link_draw link %} {% draw_delete "/account/link/delete/" link.id %}</br>
                {% endfor %}
            </p>
        {% endif %}

        <div class="actions">
            {% draw_edit "/account/edit" %}
            {% draw_create "ADD_LINK" "/account/link/create" %}
            {% draw_action "/static/famfamfam/pencil.png" "CHANGE_PASSWORD" "/accounts/password/change/" %}
        </div>

    </div>
{% endblock %}



