{% extends "common/base.html" %}
{% load i18n %}
{% load common_tags %}
{% load link_tags %}

{% block content %}
    <div class="content_title">
        {{ current_account }}
    </div>
    <div class="content">
        <p> {% trans "USER_PRIVECY_INFORMATION" %} </p>

        <p>
            {% trans "FIRST_NAME" %}: {{ current_account.user.first_name }} </br>
            {% trans "LIST_NAME" %}: {{ current_account.user.last_name }} </br>
            {% trans "MOBILE" %}: {{ current_account.mobile }} </br>
            {% trans "SOURCE" %}: {{ current_account.source }} </br>
            {% trans "DESCRIPTION" %}: {{ current_account.description }} </br>
        </p>

        <p>
            {% if current_account.passport %}
                {% trans "PASSPORT" %}: 
                <a href="{{ current_account.passport.url }}">
                    {% trans "IMAGE" %}
                </a>
            {% else %}
                {% trans "PASSPORT" %}: {% trans "NONE" %}
            {% endif %}
        </p>


        <p> {% trans "LINKS" %} </p>

        <p>
            {% for link in links %}
                {% link_draw link %} {% draw_delete "/account/link/delete/" link.id %}</br>
            {% endfor %}
        </p>

        <div class="actions">
            {% draw_edit "/account/edit" %}
            {% draw_create "ADD_LINK" "/account/link/create" %}
            {% draw_create "SET_PASSPORT" "/account/set_passport" %}

            TODO add change password, manage social accounts and email
        </div>

    </div>
{% endblock %}



