{% extends "site/base.html" %}
{% load i18n %}
{% load common_tags %}
{% load link_tags %}


{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <b> <i class="fa fa-user"></i> {{ view_account }} </b>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">

          <h3> {% trans "DETAILS" %} </h3>

          <ul>
            <li>
              {% trans "FIRST_NAME" %}*: {{ view_account.user.first_name }} 
            </li>

            <li>
              {% trans "LIST_NAME" %}*: {{ view_account.user.last_name }} 
            </li>

            <li>
              {% trans "MOBILE" %}*: {{ view_account.mobile }} 
            </li>

            <li>
              {% trans "EMAIL" %}: {{ email }}
            </li>

            <li>
              {% trans "SOURCE" %}: {% trans view_account.source %} </br>
            </li>
          </ul>

        </div>
        <div class="col-sm-6 text_center">

          <h3> {% trans "PASSPORT" %} </h3>
          <p>
            {% if view_account.passport %}
              <a href="{{ view_account.passport.url }}">
                  <img class="thumbnail display_inline" 
                       width="320" height="240"
                       src="{{ view_account.passport.url }}"
                  >
              </a>
            {% else %}
              {% trans "NONE" %}
            {% endif %}
          </p>
        </div>
      </div>

      {% if links %}
        <h3> {% trans "LINKS" %} </h3>
        <p>
          {% for link in links %}
            {% link_draw link %} </br>
          {% endfor %}
        </p>
      {% endif %}

      <h3>{% trans "DESCRIPTION" %}</h3>
      <p>{{ view_account.description }}</p>

    </div>
  </div>
{% endblock %}

