
#index_content {
    padding-top: 5px;
    text-align: center;
}

#index_table_left {
    width: 50%;
}

#index_table_right {
    width: 50%;
}

#index_slogan {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 20px;
}

#index_button_create_team {
    text-align: right;
    text-transform: uppercase;
}

