#u273
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
}

#u274-4,#u277-4
{
	color: #D6DF27;
	font-family: rosario, sans-serif;
	font-weight: 400;
	position: relative;
}

#u240-4
{
	font-size: 17px;
	font-family: amatic-sc, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1679-4,#u965-4,#u2143-4,#u2145-4
{
	font-size: 32px;
	font-family: amatic-sc, sans-serif;
	font-weight: 400;
	position: relative;
}

#u962-4
{
	font-size: 84px;
	font-family: monoton, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1405-4
{
	border-color: #FFFFFF;
	background-color: #5B5B5B;
	font-size: 12px;
	color: #FFFFFF;
	font-family: rosario, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1405-4:hover
{
	background-color: #7F7F7F;
}

#u1405-4.AccordionPanelTabOpen
{
	background-color: #5B5B5B;
}

#u1405-4.AccordionPanelTabOpen p
{
	font-family: rosario, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u1404
{
	border-color: #FFFFFF;
	background-color: #C8C8C8;
	position: relative;
}

#u1475
{
	background-color: #EEEEEE;
	position: relative;
}

#u1475:hover
{
	background-color: #AAAAAA;
}

#u1475.MuseMenuActive
{
	background-color: #666666;
}

#u1477-5
{
	text-align: center;
	font-size: 11px;
	position: relative;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u242
{
	border-style: none;
	border-color: transparent;
	background-color: #CCCCCC;
	position: relative;
}

#u263-14
{
	font-family: ledger, serif;
	font-weight: 400;
	position: relative;
}

#u547
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u265-4
{
	font-family: amatic-sc, sans-serif;
	font-weight: 400;
	position: relative;
}

#u267
{
	border-style: none;
	border-color: transparent;
	background-color: #E6E6E6;
	position: relative;
}

#u465
{
	border-style: none;
	border-color: transparent;
	background-color: #7C7C7C;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#u465:active
{
	background-color: #B8BABC;
}

#u467-4
{
	color: #FFFFFF;
	font-family: rosario, sans-serif;
	font-weight: 400;
	position: relative;
}

#u377,#u224,#u204
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u268-4,#u270-4,#u314-4
{
	font-size: 30px;
	font-family: amatic-sc, sans-serif;
	font-weight: 400;
	position: relative;
}

#u272-4
{
	font-size: 27px;
	font-family: amatic-sc, sans-serif;
	font-weight: 400;
	position: relative;
}

#u257-4,#upress-4
{
	font-size: 45px;
	font-family: amatic-sc, sans-serif;
	font-weight: 400;
	position: relative;
}

#u913
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u914-5
{
	font-size: 65px;
	color: #FFFFFF;
	font-family: federant, sans-serif;
	font-weight: 400;
	position: relative;
}

#u914-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u914-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u914
{
	font-size: 88px;
}

#uthestory-4
{
	color: #FFFFFF;
	position: relative;
}

#u199,#accordionu1388,#u1403,#menuu1417,#u1474,#u229,#u234,#u194,#u219,#u214,#u281,#u287,#u292,#u297,#u302,#u312,#u317,#u322,#u327,#u332,#u337,#u342,#u347,#u359,#u365,#press,#u184,#story
{
	position: relative;
}

