
/* text formatting */
.fontsize_xxl { font-size: xx-large; }
.fontsize_xl { font-size: x-large; }
.text_center { text-align: center; }
.text_right { text-align: right; }
.text_left { text-align: left; }
.text_bold { font-weight: bold; }

.display_inline { display: inline }
.float_left_wrap_5px { float: left; margin-right: 5px; }
.float_left_wrap_25px { float: left; margin-right: 25px; }

