{% extends "common/base.html" %}
{% load i18n %}
{% load sanitizer %}
{% load common_tags %}
{% load team_tags %}

{% block content %}
    {% for blog in blogs %}

        <div class="content_title">{{ blog.name }}</div>
        <div class="content">
            {{ blog.content|escape_html|safe }}

            {% if_member current_account blog.team %}
                <div class="actions">
                    {% draw_edit "/" blog.team.link "/blog/edit/" blog.id %}
                    {% draw_delete "/" blog.team.link "/blog/delete/" blog.id %}
                </div>
            {% endif_member %}
        </div>
    {% empty %}
        <div class="content">
            {% trans "NO_BLOG_ENTRIES" %}
        </div>
    {% endfor %}
{% endblock %}
