{% extends "common/base.html" %}
{% load i18n %}
{% load common_tags %}
{% load team_tags %}

{% block content %}
    {% for remove_request in remove_requests %}
        <div class="content">
            <h2> {% trans "REQUEST" %} ({{ remove_request.status }})</br> </h2>

            <p>
                {% trans "REQUESTER" %}: {{ remove_request.requester }}</br>
                {% trans "REASON" %}: {{ remove_request.reason }} </br>
                {% trans "CONCERNED" %}: {{ remove_request.concerned }}
            </p>

            <h2> {% trans "RESPONSE" %}</h2>

            <p>
                {% if remove_request.processor and response.response %} 
                    {% trans "PROCESSOR" %}: {{ response.processor }}</br>
                    {% trans "RESPONSE" %}: {{ response.response }}
                {% else %}
                    {% trans "NONE" %}
                {% endif %}
            </p>

            {% if_can_process_remove_request current_account remove_request %}
                <!-- TODO create template tag draw_process_request in team app -->
                {% draw_action "/static/famfamfam/pencil.png" "PROCESS_REQUEST" "/" current_team.link "/remove_request/process/" remove_request.id %}
            {% endif_can_process_remove_request %}
        </div>
    {% empty %}
        <div class="content">
            {% trans "NO_REMOVE_REQUESTS" %}
        </div>
    {% endfor %}
{% endblock %}

