{% extends "base.html" %}
{% load i18n %}

{% block title %}
    Bikesurf - {% trans "CANCEL" %} : {{ borrow }}
{% endblock %}

{% block content %}
    <div class="content_block">
        <h2>{% trans "CANCEL" %}</h2>
        <form   action="/borrow/cancel/{{ borrow.id }}"
                method="post">

            {% csrf_token %}
            <table class="input_form">
                {{ form.as_table }}
            </table>
            <input type="submit" value="{% trans "SUBMIT" %}" />

        </form>
    </div>
{% endblock %}


