{% extends "base.html" %}
{% load i18n %}

{% block content_center %}
    <div class="content_block">
        <h2>{% trans "CANCEL" %}</h2>
        <form  
            {% if current_team %}
                action="/{{ current_team.link }}/borrow/cancel/{{ borrow.id }}"
            {% else %}
                action="/borrow/cancel/{{ borrow.id }}"
            {% endif %}
                method="post">

            {% csrf_token %}
            <table class="input_form">
                {{ form.as_table }}
            </table>
            <input type="submit" value="{% trans "SUBMIT" %}" />

        </form>
    </div>
{% endblock %}


