{% extends "base.html" %}
{% load i18n %}

{% block title %}
    Bikesurf {{ current_team.name }} - {% trans "BORROW" %} : {{ bike }}
{% endblock %}

{% block content_center %}
    <div class="content_block">
        <h2>{% trans "BORROW" %}</h2>
        <form   name="CreateBorrowForm"
                action="/{{ current_team.link }}/borrow/create/{{ bike.id }}"
                method="post">

            {% csrf_token %}
            <table class="input_form">
                {{ form.as_table }}
            </table>
            <input type="submit" value="{% trans "SUBMIT" %}" />

        </form>
    </div>
{% endblock %}


