body {
    background-color: #FFF;
    font-family: helvetica, arial, sans-serif;                       
    font-size: 10pt;
    color: #000;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {                                                                  
    color: #F47920;                                                  
    text-decoration: none;                                           
}                                                                    

a:hover {                                                            
    color: #ff9536;                                                  
    text-shadow: #F47920 0px 0px 2px;
}                                                                    
                     
h1 {                                                                 
    font-size: 140%;                                                 
    margin: 1.5em 0 0 0;                                             
} 

img {
    /*display:block;*/
    vertical-align: bottom;
}

table {
    width: 100%;
    border-spacing: 0;
    /*border: 1px dotted;*/
}

table td {
    vertical-align:top;
    padding: 0;
    /*border: 1px dotted;*/
}

/***********/
/* GENERIC */
/***********/

/* MENU */

.menu {
    padding: 10px;
    border: 1px;
    border-color: #000000;
    margin-bottom: 5px;
    font-size: 12pt;
    box-shadow: -5px 5px 5px #E0E0E0;
}

.menu a {
    text-decoration: none; 
    text-transform: uppercase;
}

.menu a:hover {
}

.menu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.menu #selected {
    color: #E8B828;
    font-weight: bold;
}

#statusbar {
    background: #25272B;
    padding: 2px;
    text-align: right;
}

#statusbar a { 
    margin-right: 5px; 
    text-decoration: none; 
}

#body {
    padding:0px;
    padding-bottom:12px; /* Height for the footer */
}

#footer {
    background: #25272B;
    padding: 2px;
    text-align: center;
    position:absolute;
    bottom:0;
    left: -4px;
    width:100%;
}
