html {
    height: 100%;
}

body {
    background-color: #FFF;
    font-family: helvetica, arial, sans-serif;                       
    font-size: 10pt;
    color: #000;
    margin: 0px;
    padding: 0px;
    height: 100%;
    border: none;
}

a {                                                                  
    color: #F47920;                                                  
    text-decoration: none;                                           
}                                                                    

a:hover {                                                            
    color: #FF9536;                                                  
    text-shadow: #F47920 0px 0px 2px;
}                                                                    
                     
h1 {                                                                 
    font-size: 140%;                                                 
    margin: 1.5em 0 0 0;                                             
} 

img {
    /*display:block;*/
    vertical-align: bottom;
}

table {
    width: 100%;
    height: 100%;
    border: none;
    border-spacing: 0;
    /*border: 1px dotted;*/
}

table td {
    vertical-align:top;
    padding: 0;
    /*border: 1px dotted;*/
}

/***********/
/* GENERIC */
/***********/

/* MENU */

.menu {
    padding: 10px;
    border: 1px;
    border-color: #000000;
    margin-bottom: 5px;
    font-size: 12pt;
    box-shadow: -5px 5px 5px #E0E0E0;
}

.menu a {
    text-decoration: none; 
    text-transform: uppercase;
}

.menu a:hover {
}

.menu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.menu #selected {
    color: #E8B828;
    font-weight: bold;
}

/**********/
/* LAYOUT */
/**********/

#base_wrapper {
    min-height: 100%;
    margin: auto;
    position: relative;
}

#base_inner_wrapper:after {
    content:" ";
    display: block;
    clear: both;
}

#base_statusbar {
    background: #25272B;
    padding: 2px;
    height: 16px;
    text-align: right;
}

#base_statusbar a { 
    margin-right: 5px; 
}

#base_body {
}

#base_footer {
    height: 16px;
    width: 100%;
    color: #F47920;                                                  
    position: absolute;
    bottom: 0;
    text-align: center;
    background: #25272B;
}
