div {
    border-style: dotted;
}

#layout_header {
    margin-left: 65px;
}

#layout_button_home {
    float: left;
}

#layout_wrapper {
    height: 100%;
}

#layout_main {
    height: 100%;
}

#layout_left {
    float: left;
    height: 100%;
}

#layout_right {
    height: 100%;
}

#layout_menu {
    margin-left: 24px;
    height: 100%;
    float: left;
    width: 200px;
}

#layout_seperator {
    height: 100%;
    float: right;
    width: 24px;
    background-image: url(/static/chain_link.png);
}

#layout_content {
    float: left;
    padding: 8px;
    height: 100%;
    background-color: #D1F9E1;
}

#layout_info {
    padding: 8px;
    margin-right: 16px;
    height: 100%;
    background-color: #0F0;
    float: right;
    width: 250px;
}
