{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load common_tags %}
{% load borrow_tags %}
{% load team_tags %}

{% block title %}
    Bikesurf - {% trans "BIKES" %}
{% endblock %}

{% block content %}
    {% for bike in bikes %}
        <div class="content_block">

            <h2>
                {{ bike.name }}
            </h2>

            <table>
                <tr>
                    <td id="td_bike_image">
                        TODO bike image
                    </td>
                    <td id="td_bike_props">
                        {% trans "TYPE" %}: {% trans bike.kind %}<br />
                        {% trans "GENDER" %}: {% trans bike.gender %}<br />
                        {% trans "SIZE" %}: {% trans bike.size %}<br />
                        {% trans "LIGHTS" %}: {% draw_bool bike.lights %} <br />
                        {% trans "FENDERS" %}: {% draw_bool bike.fenders %} <br />
                        {% trans "RACK" %}: {% draw_bool bike.rack %} <br />
                        {% trans "BASKET" %}: {% draw_bool bike.basket %} <br />
                    </td>
                    <td id="td_bike_info">
                        {% trans "OWNER" %}: {{ bike.owner }}<br /><!-- TODO link bike.owner -->
                        {% trans "ACTIVE" %}: {% draw_bool bike.active %} <br />
                        {% trans "RESERVE" %}: {% draw_bool bike.reserve %} <br />
                        {% if current_account|is_member:bike.team %}
                            {% trans "STATION" %}: 
                            {% if bike.station %}
                                {{ bike.station.street }}<br />
                            {% else %}
                                {% trans "UNKNOWN" %}<br />
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            </table>

            {{ bike.description }}

            <div>
                {% draw_borrow bike %}
                {% if current_account|is_member:bike.team %}
                    {% draw_edit "/" bike.team.link "/bike/edit/" bike.id %}
                    {% draw_delete "/" bike.team.link "/bike/delete/" bike.id %}
                {% endif %}
            </div>

        </div>
    {% endfor %}
{% endblock %}

