{% extends "common/base.html" %}
{% load sanitizer %}
{% load i18n %}
{% load team_tags %}
{% load common_tags %}

{% block content %}
    <div class="content_title">
        {{ page.name }}
    </div>
    <div class="content">
        {{ page.content|escape_html|safe }}

        {% if_member current_account page.team %}
            <div class="actions">
                {% draw_edit "/" page.team.link "/page/edit/" page.link %}
                {% draw_delete "/" page.team.link "/page/delete/" page.link %}
            </div>
        {% endif_member %}
    </div>
{% endblock %}

