{% load i18n %}

<html>

    <head>
        <title> {% block title %} Bikesurf {% endblock %} </title>
        <link type="image/x-icon" rel="icon" href="/static/favicon.ico">

        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="Copyright" content="Fabian Barkhau 2012" />
        <meta name="keywords" content="Bike, Surfing, Borrowing, Lending" />
        <meta name="description" content="Bikesurf is a non profit site, to enable people the free lending of bikes." />


        {% block styles %}
            <link rel="stylesheet" href="/static/style.css" type="text/css" charset="utf-8">
        {% endblock %}

        {% block scripts %}
            <!--script src="/script/path.js" type="text/javascript"></script-->
        {% endblock %}

    </head>

    <body>

        {% block statusbar %}
            <!-- TODO fix urls and add return url for login/out -->
            <div id="statusbar">
                {% if current_user.is_authenticated %}
                    <a href="/message/list">{% trans "MESSAGES" %} ({{ message_count }})</a>
                    <a href="/borrow/list">{% trans "MY_BORROWS" %} ({{ borrow_count }})</a>
                    <a href="/b/list">{% trans "MY_BIKES" %}</a>
                    <a href="/ts/list">{% trans "MY_STATIONS" %}</a>
                    <a href="/admin/logout/">{% trans "LOGOUT" %}</a> <!-- TODO add return url -->
                    <a href="/account/view">{{ current_user.username }}</a>
                {% else %}
                    <a href="/admin/">{% trans "LOGIN" %}</a> <!-- TODO add return url -->
                    <a href="/account/regester">{% trans "REGISTER" %}</a>
                {% endif %}
            </div>
        {% endblock %}

        {% block logo %}
            <div id="logo">
                <a href="/"><img src="/static/logo.png" alt="BikeSurf"></a>
            </div>
        {% endblock %}

        {% block content %}

            <table id="content">
                <tr> 
                    <td id="content_left"> 
                        {% block content_left %}
                            CONTENT LEFT
                        {% endblock %}
                    </td> 
                    <td id="content_center"> 
                        {% block content_center %}
                            CONTENT CENTER
                        {% endblock %}
                    </td> 
                    <td id="content_right"> 
                        {% block content_right %}
                            CONTENT RIGHT
                        {% endblock %}
                    </td> 
                </tr>
            <table>
        {% endblock %}

    </body>

</html>
