{% load i18n %}

<html>

    <head>

        <title> 
            Bikesurf 
            {% if current_team %}
                {{ current_team }}
            {% endif %}
            {% if page_title %}
               - {{ page_title }}
            {% endif %}
        </title>

        <link type="image/x-icon" rel="icon" href="/static/favicon.ico">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="Copyright" content="Fabian Barkhau 2012" />
        <meta name="keywords" content="Bike, Surfing, Borrowing, Lending" />
        <meta name="description" content="{% trans "META_DESCRIPTION" %}" />

        {% block styles %}
            <link rel="stylesheet" href="/static/style.css" type="text/css" charset="utf-8">
        {% endblock %}

        {% block scripts %}
            <!--script src="/script/path.js" type="text/javascript"></script-->
        {% endblock %}

    </head>

    <body>

        {% block statusbar %}
            {% include "statusbar.html" %}
        {% endblock %}

        {% block logo %}
            <div id="logo">
                <a href="/"><img src="/static/logo.png" alt="BikeSurf"></a>
            </div>
        {% endblock %}

        {% block content %}
            <table id="content">
                <tr> 
                    <td id="content_left"> 
                        {% if current_team %}
                            {% include "team/base_left.html" %}
                        {% endif %}
                        {% block content_left %}
                        {% endblock %}
                    </td> 
                    <td id="content_center"> 
                        {% if current_team %}
                        {% endif %}
                        {% block content_center %}
                        {% endblock %}
                    </td> 
                    <td id="content_right"> 
                        {% if current_team %}
                            {% include "team/base_right.html" %}
                        {% endif %}
                        {% block content_right %}
                        {% endblock %}
                    </td> 
                </tr>
            <table>
        {% endblock %}

    </body>
</html>
