{% load i18n %}

<html>

    <head>
        <title> {% block title %} Bikesurf {% endblock %} </title>

        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="Copyright" content="Fabian Barkhau 2012" />
        <meta name="keywords" content="Bike, Surfing, Borrowing, Lending" />
        <meta name="description" content="Bikesurf is a non profit site, to enable people the free lending of bikes." />

        {% block styles %}
            <!--link rel="stylesheet" href="/style/sheet/path.css" type="text/css" charset="utf-8"-->
        {% endblock %}

        {% block scripts %}
            <!--script src="/script/path.js" type="text/javascript"></script-->
        {% endblock %}

    </head>

    <body>

        {% block accountbar %}
            <!-- TODO fix urls, css and add return url for login/out -->
            <div id="accountbar">
                {% if current_user.is_authenticated %}
                    <a href="/message/list">{% trans "MESSAGES" %} ({{ message_count }})</a>
                    <a href="/borrow/list">{% trans "BORROWS" %} ({{ borrow_count }})</a>
                    <a href="/admin/logout/">{% trans "LOGOUT" %}</a> <!-- TODO add return url -->
                    <a href="/account/view">{{ current_user.username }}</a>
                {% else %}
                    <a href="/admin/">{% trans "LOGIN" %}</a> <!-- TODO add return url -->
                    <a href="/account/regester">{% trans "REGISTER" %}</a>
                {% endif %}
            </div>
        {% endblock %}

        {% block body %}
            BODY
        {% endblock %}

    </body>

</html>
