{% load i18n %}
<!DOCTYPE html>
<html>

    <head>

        <title> 
            bikesurf.org 
            {% if current_team %}
                {{ current_team }}
            {% endif %}
            {% if page_title %}
               - {{ page_title }}
            {% endif %}
        </title>

        <link type="image/x-icon" rel="icon" href="/static/favicon.ico">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="Copyright" content="Fabian Barkhau 2012" />
        <meta name="keywords" content="Bike, Surfing, Borrowing, Lending" />
        <meta name="description" content="{% trans "META_DESCRIPTION" %}" />

        <link rel="stylesheet" href="/static/common/base.css" 
              type="text/css" charset="utf-8" >

        {% block styles %}
            <!--link rel="stylesheet" href="/style/path/css" 
                     type="text/css" charset="utf-8"-->
        {% endblock %}

        {% block scripts %}
            <!--script src="/script/path.js" type="text/javascript"></script-->
        {% endblock %}

    </head>

    <body>
        <div id="base_wrapper">
            <div id="base_statusbar">
                {% block statusbar %}
                    {% include "common/statusbar.html" %}
                {% endblock %}
            </div>
            <div id="base_inner_wrapper">
                <div id="base_body">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
            <div id="base_footer">
                {% block footer %}
                    {% include "common/footer.html" %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
