{% extends "common/base.html" %}
{% load i18n %}

{% block content %}

    <div class="content_title">
        {{ form_title }}
    </div>
    <div class="content">
        {% if form_subtitle %}
            <h2>{{ form_subtitle }}</h2>
        {% endif %}

        {% if form_info %}
            <p>{{ form_info }}</p>
        {% endif %}

        {% block pre_form_content %}
        {% endblock %}

        <form action="{{ current_path }}" method="post" 
            {% if multipart_form %}enctype="multipart/form-data" {% endif %}>

            {% csrf_token %}
            <table class="input_form">
                {{ form.as_table }}
            </table>

            {% if cancel_url %}
                <input type="button" onclick="window.location.href = '{{ cancel_url }}';" value={% trans "CANCEL" %}>
            {% endif %}

            {% block post_form_content %}
            {% endblock %}

            <input type="submit" value="{% trans "SUBMIT" %}" />
        </form>

    </div>
{% endblock %}
