{% extends "common/base.html" %}

{% block body %}
    <link rel="stylesheet" href="/static/common/layout.css" type="text/css" charset="utf-8" >

    <table id="layout_table">
        <tr>
            <td class="layout_column_menu"> 
                <a href="/"><img src="/static/home_button_left.png" alt="BikeSurf"></a>
            </td> 

            <td class="layout_column_seperator">
                <a href="/"><img src="/static/home_button_middle.png" alt="BikeSurf"></a>
            </td>

            <td id="layout_cell_logo" class="layout_column_content"> 
                <a href="/"><img src="/static/home_button_right.png" alt="BikeSurf"></a>
            </td> 

            <td class="layout_column_info"> 
            </td> 
        </tr>
        <tr> 
            <td class="layout_column_menu"> 
                {% if current_team %}
                    {% include "team/base_left.html" %}
                {% endif %}
                {% block content_left %}
                {% endblock %}
            </td> 

            <td id="layout_cell_seperator" class="layout_column_seperator">
            </td>

            <td class="layout_column_content"> 
                {% if tabs %}
                    {% include "common/tabs.html" %}
                {% endif %}
                {% block content %}
                    CONTENT AREA
                {% endblock %}
            </td> 

            <td class="layout_column_info"> 
                {% if current_team %}
                    {% include "team/base_right.html" %}
                {% endif %}
                {% block content_right %}
                {% endblock %}
            </td> 
        </tr>
    <table>
{% endblock %}
