{% extends "common/base.html" %}
{% load i18n %}
{% load common_tags %}

{% comment %}
    # input data format
    page_title = "title"
    list_data = { 
        "columns" : [ "title", ... ]
        "entries" : [ { "labels" : [ "label", ... ], "url" : "link" }, ... ]
    }
{% endcomment %}

{% block content %}
    <div class="content_title">
        {{ page_title }}
    </div>
    <div class="content">
        {% if list_data.entries %}
            <table class="list">
                <tr>
                    {% for label in list_data.columns %}
                        <th>{{ label }}</th>
                    {% endfor %}
                </tr>

                {% for entrie in list_data.entries %}
                    <tr>
                        {% for label in entrie.labels %}
                            <td>
                                <a href="{{ entrie.url }}">
                                    {% if label %}
                                        {% draw_list_label label %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </a>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            {% trans "NO_ENTRIES" %}
        {% endif %}
    </div>
{% endblock %}

