{% load i18n %}

{% if user.is_authenticated %}

    {% if borrow_count %}
        <a href="/borrows">{% trans "BORROWS" %} ({{ borrow_count }})</a>
        -
    {% endif %}

    {% for team in current_account_teams %}
        <a href="/{{ team.link }}">{{ team.name }}</a>
        -
    {% endfor %}

    {% for station in current_account_stations %}
        <a href="/{{ station.team.link }}/station/view/{{ station.id }}">
            {{ station.street }}
        </a>
        -
    {% endfor %}

    {% if arrival_count %}
        <a href="/borrow/arrivals">
            {% trans "ARRIVALS" %} ({{ arrival_count }})
        </a>
        -
    {% endif %}

    {% if departure_count %}
        <a href="/borrow/departures">
            {% trans "DEPARTURES" %} ({{ departure_count }})
        </a>
        -
    {% endif %}

    <a href="/accounts/logout/">{% trans "LOGOUT" %}</a>
    <a href="/accounts/profile/">{{ user.username }}</a>

{% else %}
    <a href="/accounts/login/?next={{ current_path }}">{% trans "LOGIN" %}</a>
    <a href="/accounts/signup/">{% trans "SIGN UP" %}</a>
{% endif %}
