{% load i18n %}

{% if user.is_authenticated %}
<ul class="nav navbar-nav navbar-right">
   <li> <a href="/borrows">{% trans "MY_BORROWS" %}</a></li>
    -

    {% for team in current_account_teams %}
        <li><a href="/{{ team.link }}">{{ team.name }}</a></li>
        -
    {% endfor %}

    {% for station in current_account_stations %}
       <li> <a href="/{{ station.team.link }}/station/view/{{ station.id }}">
            {{ station.street }}
        </a></li>
        -
    {% endfor %}

    {% if arrival_count %}
      <li>  <a href="/borrow/arrivals">
            {% trans "ARRIVALS" %} ({{ arrival_count }})
        </a></li>
        -
    {% endif %}

    {% if departure_count %}
       <li> <a href="/borrow/departures">
            {% trans "DEPARTURES" %} ({{ departure_count }})
        </a></li>
        -
    {% endif %}

    <li><a href="/accounts/logout/">{% trans "LOGOUT" %}</a></li>
    <li><a href="/account/profile">{{ user.username }}</a></li>

{% else %}
    <li><a href="/accounts/login/?next={{ current_path }}">{% trans "LOGIN" %}</a></li>
    <li><a href="/accounts/signup/">{% trans "SIGN UP" %}</a></li>
{% endif %}
</ul>