{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load common_tags %}

{% block title %}
    {% if current_team %}
        Bikesurf {{ current_team.name }} - {% trans "STATIONS" %}
    {% else %}
        Bikesurf - {% trans "STATIONS" %}
    {% endif %}
{% endblock %}

{% block content_center %}
    <div class="content_block">
        <h2> {{ station }} </h2>
        <!-- TODO draw preview image -->
        {% trans "ACTIVE" %}: {% draw_bool station.active %} <br />
        {% trans "CAPACITY" %}: {{ station.capacity }}
    </div>
{% endblock %}

