{% load i18n %}
{% load common_tags %}
{% load team_tags %}

{% if current_account|is_member:current_team %}
    <div class="menu"> 
        <h2>{% trans "TEAM_ACTIONS" %}</h2>
        <ul>
            <li>
                {% draw_create "ADD_BLOG" "/" current_team.link "/blog/create" %}
            </li>
            <li>
                {% draw_create "ADD_PAGE" "/" current_team.link "/page/create" %}
            </li>
            <li>
                {% draw_create "ADD_BIKE" "/" current_team.link "/bike/create" %}
            </li>
            <li>
                {% draw_create "ADD_STATION" "/" current_team.link "/station/create" %}
            </li>
        </ul>
    </div>
{% endif %}

<div class="content_block"> 
    <h2>{% trans "TEAM_INFO" %}</h2> 
    {% trans "COUNTRY" %}: {{ current_team.country.name }}<br />
    {% trans "TODO TWITTER" %}<br />
    {% trans "TODO FACEBOOK" %}<br />
    {% trans "TODO COUCHSURFING" %}<br />

    {% if current_user.is_authenticated and current_account|can_join:current_team %}
        <a href="/{{ current_team.link }}/join_request">{% trans "JOIN_REQUEST" %}</a>
    {% endif %}

</div>
