{% load i18n %}

<link rel="stylesheet" href="/static/team/header.css"
      type="text/css" charset="utf-8">

<table id="team_header">
    <tr>
        <td id="team_header_left"></td>
        <td id="team_header_borrow">
            <a href="/{{ current_team.link }}/bikes">{% trans "BORROW_A_BIKE" %}</a>
        </td>
        <td id="team_header_middle"></td>
        <td id="team_header_donate">
            <a href="/{{ current_team.link }}/donate">{% trans "DONATE_NOW" %}</a>
        </td>
        <td id="team_header_right"></td>
    </tr>
</table>

