{% extends "common/base.html" %}
{% load i18n %}
{% load common_tags %}
{% load team_tags %}

{% block content %}
    <div class="content">
        {% for join_request in join_requests %}
            <h2> {{ join_request.requester }}</h2>

            {% trans "PROCESSOR" %}: 
            {% if join_request.processor %} 
                {{ join_request.processor }} 
            {% else %} 
                {% trans "NONE" %} 
            {% endif %} <br />

            {% trans "STATUS" %}: {{ join_request.status }} <br />
            <p> {% trans "APPLICATION" %}: {{ join_request.application }} </p>
            <p> {% trans "RESPONSE" %}: {{ join_request.response }} </p>

            {% if_can_process_join_request current_account join_request %}
                {% draw_edit "/" current_team.link "/join_request_process/" join_request.id %}
            {% endif_can_process_join_request %}
        {% empty %}
            {% trans "NO_JOIN_REQUESTS" %}
        {% endfor %}
    </div>
{% endblock %}


