{% extends "common/base.html" %}
{% load i18n %}
{% load team_tags %}
{% load common_tags %}

{% block content %}
    {% for member in members %}
        <div class="content_title">
            {{ member }}
        </div>
        <div class="content">
            <div class="actions">
                {% if_can_create_remove_request current_account member current_team %}
                    {% draw_delete "/" current_team.link "/remove_request/create/" member.id %}
                {% endif_can_create_remove_request %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
