{% extends "common/base.html" %}
{% load i18n %}
{% load common_tags %}
{% load team_tags %}

{% block content %}
    <div class="content">
        {% for remove_request in remove_requests %}
            <h2> {{ remove_request.concerned }}</h2>
            {% trans "REQUESTER" %}: {{ remove_request.requester }} <br />
            {% trans "PROCESSOR" %}: 
            {% if remove_request.processor %} 
                {{ remove_request.processor }} 
            {% else %} 
                {% trans "NONE" %} 
            {% endif %} <br />
            {% trans "STATUS" %}: {{ remove_request.status }} <br />
            <p> {% trans "REASON" %}: {{ remove_request.reason }} </p>
            <p> {% trans "RESPONSE" %}: 
                {% if remove_request.repsonse %} 
                    {{ remove_request.response }} 
                {% else %} 
                    {% trans "NONE" %} 
                {% endif %} 
            </p>
            {% if_can_process_remove_request current_account remove_request %}
                {% draw_edit "/" current_team.link "/remove_request_process/" remove_request.id %}
            {% endif_can_process_remove_request %}
        {% empty %}
            {% trans "NO_REMOVE_REQUESTS" %}
        {% endfor %}
    </div>
{% endblock %}

