
#bike_list_layout_table tr {
    height: 100px; /* TODO why does this not work? */
}

#bike_list_entrie a {
    color: #000;
}

.td_bike_image {
}

#td_bike_info {
    padding-left: 10px;
    width: 100%;
}


