{% extends "common/base.html" %}
{% load i18n %}
{% load common_tags %}
{% load borrow_tags %}

{% block content %}
    <div class="content">
        {% if borrows %}
            <table class="list_block">
                <tr> 
                    <th> {% trans "BORROWER" %} </th>
                    <th> {% trans "BIKE" %} </th>
                    <th> {% trans "DATE FROM" %} </th>
                    <th> {% trans "DATE TO" %} </th>
                    <th> {% trans "STATION FROM" %} </th>
                    <th> {% trans "STATION TO" %} </th>
                    <th> {% trans "BORROW STATE" %} </th>
                
                </tr>

                {% for borrow in borrows %}
                    <tr> 
                        <td>
                            {% if current_team %}
                                <a href="/{{ current_team.link }}/borrow/view/{{ borrow.id }}">
                            {% else %}
                                <a href="/borrow/view/{{ borrow.id }}">
                            {% endif %}
                            {{ borrow.borrower }}
                            </a>
                        </td>
                        <td>
                            {% if current_team %}
                                <a href="/{{ current_team.link }}/borrow/view/{{ borrow.id }}">
                            {% else %}
                                <a href="/borrow/view/{{ borrow.id }}">
                            {% endif %}
                            {{ borrow.bike.name }}
                            </a>
                        </td>
                        <td>
                            {% if current_team %}
                                <a href="/{{ current_team.link }}/borrow/view/{{ borrow.id }}">
                            {% else %}
                                <a href="/borrow/view/{{ borrow.id }}">
                            {% endif %}
                            {{ borrow.start }}
                            </a>
                        </td>
                        <td>
                            {% if current_team %}
                                <a href="/{{ current_team.link }}/borrow/view/{{ borrow.id }}">
                            {% else %}
                                <a href="/borrow/view/{{ borrow.id }}">
                            {% endif %}
                            {{ borrow.finish }}
                            </a>
                        </td>
                        <td>
                            {% if current_team %}
                                <a href="/{{ current_team.link }}/borrow/view/{{ borrow.id }}">
                            {% else %}
                                <a href="/borrow/view/{{ borrow.id }}">
                            {% endif %}
                            {{ borrow.src.street }}
                            </a>
                        </td>
                        <td>
                            {% if current_team %}
                                <a href="/{{ current_team.link }}/borrow/view/{{ borrow.id }}">
                            {% else %}
                                <a href="/borrow/view/{{ borrow.id }}">
                            {% endif %}
                            {{ borrow.dest.street }}
                            </a>
                        </td>
                        <td>
                            {% if current_team %}
                                <a href="/{{ current_team.link }}/borrow/view/{{ borrow.id }}">
                            {% else %}
                                <a href="/borrow/view/{{ borrow.id }}">
                            {% endif %}
                            {% trans borrow.state %} {% draw_status borrow %}
                            </a>
                        </td>
                        </tr>
                {% endfor %}
            </table>
        {% else %}
            {% trans "NO_BORROWS" %}
        {% endif %}
    </div>
{% endblock %}


