{% extends "common/base.html" %}
{% load i18n %}
{% load common_tags %}
{% load borrow_tags %}
{% load account_tags %}

{% block content %}
    <div class="content">
        <h2>

            {% if_can_view_account current_account borrow.borrower %} 
                <a href="/account/view/{{ borrow.borrower.user.username }}">
                    {{ borrow.borrower }}
                </a>
            {% else %}
                {{ borrow.borrower }}
            {% endif_can_view_account %}

            {% trans "BORROWING" %} {{ borrow.bike }} 
            ({% trans borrow.state %} {% borrow_draw_status borrow %})
        </h2>

        {% trans "DATE FROM" %} {{ borrow.start }} 
        {% trans "TO" %} {{ borrow.finish }}<br />

        {% if borrow.active %}
            {% trans "STATION FROM" %} {{ borrow.src.street }} 
            {% trans "TO" %} {{ borrow.dest.street }}<br />
        {% endif %}

        <div class="actions">
            {% borrow_draw_respond current_account borrow %}
            {% borrow_draw_borrower_edit current_account borrow %}
            {% borrow_draw_lender_edit_dest current_account borrow %}
            {% borrow_draw_lender_edit_bike current_account borrow %}
            {% borrow_draw_cancel current_account borrow current_team %}
            {% borrow_draw_rate current_account borrow current_team %}
        </div>
    </div>

    {% for log in logs %}
        <div class="content">
            <h2> 
                {% if log.initiator %}
                    {{ log.initiator }}: 
                {% else %}
                    {% trans "SYSTEM" %}:
                {% endif %}
                {% trans log.action %}
            </h2>
            {{ log.note }}
        </div>
    {% endfor %}

{% endblock %}


