{% extends "common/base.html" %}
{% load i18n %}
{% load common_tags %}
{% load borrow_tags %}
{% load account_tags %}

{% block content %}
    <div class="content_title">
        {{ borrow.borrower }}
        {% trans "BORROWING" %} {{ borrow.bike }} 
        ({% trans borrow.state %})
    </div>
    <div class="content">
        {% trans "BORROWER" %}:
        {% if_can_view_account current_account borrow.borrower %} 
            <a href="/account/view/{{ borrow.borrower.user.username }}">
                {{ borrow.borrower }}
            </a>
        {% else %}
            {{ borrow.borrower }}
        {% endif_can_view_account %}
        <br />

        {% trans "BIKE" %}: 
        <a href="/{{ borrow.team.link }}/bike/view/{{ borrow.bike.id }}">
            {{ borrow.bike }}
        </a>
        <br />

        {% trans "DATE_FROM" %}: {{ borrow.start }}<br />
        {% trans "DATE_TO" %}: {{ borrow.finish }}<br />

        {% if borrow.active and borrow.state == "ACCEPTED" %}
            {% trans "STATION_FROM" %}: {{ borrow.src.street }}<br />
            {% trans "STATION_TO" %}: {{ borrow.dest.street }}<br />
            {% trans "LOCKCODE" %}: {{ borrow.bike.lockcode }}<br />
        {% endif %}

        <div class="actions">
            {% borrow_draw_comment current_account borrow current_team %}
            {% borrow_draw_respond current_account borrow %}
            {% borrow_draw_edit current_account borrow %}
            {% borrow_draw_lender_edit_dest current_account borrow %}
            {% borrow_draw_cancel current_account borrow current_team %}
            {% borrow_draw_rate current_account borrow current_team %}
        </div>
    </div>

    {% for log in logs %}
        <div class="content">
            <h3> 
                {{ log.created_on }} - 
                {% if log.initiator %}
                    {{ log.initiator }}
                {% else %}
                    {% trans "SYSTEM" %}
                {% endif %}
                -
                {% trans log.action %}
            </h3>
            {{ log.note }}
        </div>
    {% endfor %}

{% endblock %}


